<section fxLayout fxLayoutAlign="center" class="new">
    <form (ngSubmit)="onStartTraining(formRef)" #formRef="ngForm">
        <mat-card>
        <mat-card-title>Time to start a new exercise</mat-card-title>
        <mat-card-content>
            <mat-card-actions>
                <h4>Select an exercise</h4>

                <mat-form-field class="choose" *ngIf="!isLoading && exercises">
                    <mat-select placeholder="Choose one" ngModel name="inputExercise" required>
                        <mat-option *ngFor="let ex of exercises" [value]="ex.id">
                            {{ ex.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-spinner *ngIf="isLoading"></mat-spinner>

                <button type="submit" mat-fab color="primary" [disabled]="formRef.invalid" *ngIf="exercises">
                    <span class="text">Start</span>
                </button>

                <button type="button" mat-fab color="primary" *ngIf="!exercises" (click)="fetchExercises()">
                    <span class="text">Get ex's</span>
                </button>

            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </form>
</section>
