<section fxLayout fxLayoutAlign="center" class="new">
    <form (ngSubmit)="onStartTraining(formRef)" #formRef="ngForm">
        <mat-card>
        <mat-card-title>Time to start a new exercise</mat-card-title>
        <mat-card-content>
            <mat-card-actions>
                <h4>Select an exercise</h4>

                <mat-form-field class="choose">
                    <mat-select placeholder="Choose one" ngModel name="inputExercise" required>
                        <mat-option *ngFor="let ex of exercises" [value]="ex.id">
                            {{ ex.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button type="submit" mat-fab color="primary" [disabled]="formRef.invalid">
                    <span class="text">Start</span>
                </button>

            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    </form>
</section>
