mat-toolbar {
    .logo {
        a {
            color: white;
            font-weight: 300;
            padding-left: 5px;
        }
    }

    nav {
        a {
            color: white;
            padding: 6px;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
