<mat-toolbar color="primary">
    <div class="menubtn" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon aria-hidden="false" aria-label="motorcycle icon">menu</mat-icon>
        </button>
    </div>
    <div class="logo">
        <a routerLink="/">Fitness App</a>
    </div>
    <nav fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <a *ngIf="!isAuth" routerLink="/login">Login</a>
        <a *ngIf="!isAuth" routerLink="/signup">Signup</a>
        <a *ngIf="isAuth" routerLink="/training">Training</a>
        <a *ngIf="isAuth" href="javascript: void(0)" (click)="onLogout()">Logout</a>
    </nav>
</mat-toolbar>
