<mat-card class="loginpage" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Login</mat-card-title>
    <p>or <a href="javascript: void(0);" routerLink="/signup">Signup</a></p>
    <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-form-field>
                <input type="email" matInput placeholder="Your email" formControlName="ctrlEmail">
                <mat-hint>Hint for email</mat-hint>
                <mat-error>Email is not valid</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="ctrlPassword">
                <mat-hint>Hint for password</mat-hint>
                <mat-error>Password is not ok</mat-error>
            </mat-form-field>

            <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>

            <!-- loading -->
            <mat-spinner *ngIf="isLoading"></mat-spinner>

        </form>
    </mat-card-content>
</mat-card>
<!-- SOLUTION ^ -->

<!-- EXERCISE _ -->
<!-- <mat-card class="loginpage" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field>
                    <input type="email" matInput placeholder="Your email" formControlName="ctrlEmail">
                </mat-form-field>
                <mat-form-field hintLabel="Minimum 6 characters">
                    <input type="password" matInput placeholder="Password" formControlName="ctrlPassword">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Your birthdate" [matDatepicker]="pickerRef" formControlName="ctrlBirthday">
                    <mat-datepicker-toggle matSuffix [for]="pickerRef"></mat-datepicker-toggle>
                    <mat-datepicker #pickerRef></mat-datepicker>
                </mat-form-field>
                <mat-checkbox color="primary" formControlName="ctrlAgree">
                    Agree to <a href="javascript: void(0);" routerLink="/terms">terms and conditions</a>
                </mat-checkbox>
                <button type="submit" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
 -->
